.calculator{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(227, 229, 233);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 400px;
}
.screen{
    border: 1px solid gray;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: end;
    font-size: 30px;

}
.bottom{
    padding-top: 20px;
}
.operators{
   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,50px);
    gap: 10px;
   
    
}
.zero{
    border-radius: 45%;
    grid-column: 1/span 2;
}

button{
    background-color: gray;
    font-weight: 600;
     border-radius: 50%;
}

.opr{
    background-color:rgb(212, 103, 63) ;
}
.decimal{
    background-color: gray;
}
.islemSil, .isaret, .yuzde{
    background-color:rgb(227, 229, 233) ;
}

button:hover{
    opacity: 0.3;
    color: black;
}
